@use '../shared/_base.sass' as b
@use '../shared/variable' as v

.form
  @extend %card
  display: grid
  grid-template-columns: 1fr 200px auto
  align-items: end
  gap: 16px

  label
    display: grid
    gap: 6px
    min-width: 0

  p
    font-size: 12px
    font-weight: 600
    color: v.$font-color-weak

  input[type='text'],
  input[type='date']
    @extend %field

  button
    @extend %button
